.activePagBtn {
    background-color: orange !important;
  }
  .modal-header h3 {
    margin-top: 0;
    color: #42b983;
  }
  .btn_delete {
    font-weight: bolder;
  }
  .btn_yes {
    float: left;
  }
  .btn_no {
    float: right;
  }
  .searched-box {
    background-color: white;
    border: 1.5px solid #d9d9d9 !important;
    border-radius: 0.5em;
    margin-top: 0.1em;
    position: absolute;
    width: 20em;
  }
  .searched-box li {
    list-style: none;
  }
  .searched-box ul {
    padding-left: 0.5em;
  }